# Ignore everything except for the files provided in this repository
*
!.gitignore
!cairomm-1.16.wrap
!epoxy.wrap
!glib.wrap
!glibmm-2.68.wrap
!graphene.wrap
!gtk4.wrap
!gtkmm.wrap
!pango.wrap
!pangomm-2.48.wrap
!sigc++-3.0.wrap
